body {
    font-family: 'Arial', sans-serif;
 }
 h1, h2, h5 {
    font-weight: bold;
 }
 .navbar-brand {
    font-size: 1.5rem;
 }
 footer p {
    margin: 0;
    font-size: 0.9rem;
 }
 
 .highlight-circle {
    position: relative;
    display: inline-block;
    border-radius: 50%; /* Membuat gambar tetap berbentuk lingkaran */
    box-shadow: 0 0 15px rgba(255, 215, 0, 0.8), 
                0 0 30px rgba(255, 215, 0, 0.6), 
                0 0 45px rgba(255, 215, 0, 0.4); /* Warna emas */
    transition: box-shadow 0.3s ease-in-out;
}

.highlight-circle:hover {
    box-shadow: 0 0 20px rgba(255, 215, 0, 1), 
                0 0 40px rgba(255, 215, 0, 0.8), 
                0 0 60px rgba(255, 215, 0, 0.6); /* Efek bercahaya saat hover */
}
